<div class ="container">

    <div class="filters">
      <button type="button" id="first-filter" class="btn btn-outline-secondary">Price <50€</button>
      <button type="button" class="btn btn-outline-secondary">Price <100€</button>
      <button type="button" class="btn btn-outline-secondary">Price <150€</button>
      <button type="button" class="btn btn-outline-secondary">Price <200€</button>
    </div>

    <br>

    <div class="flats-container">
       <% @flats.each do |flat| %>
       <div data-price='<%=flat.price%>' class="flat">
           <%= render 'shared/carousel', flat_id: flat.id, url1: "https://images.unsplash.com/photo-1567767292278-a4f21aa2d36e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", url2: "https://images.unsplash.com/photo-1560185893-a55cbc8c57e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", url3: "https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" %>
           <i class="fas fa-star"></i>
           <h5><%= flat.title %> - <%= flat.location %></h5>
           <p> <strong>€<%=flat.price%></strong> / night</p>
           <%= link_to "Check details", flat_path(flat), class: "btn btn-success btn-sm" %>
       </div>
      <% end %>
    </div>
    </div>
</div>

